body {
  background-color: #cf6cd1;
}

/* Navbar styling */

.comapanyName {
  color:rgb(230, 120, 120);
  display:inline-lock;
  text-align: center;
}
.header {
	background-color: #ffffff;
	/* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
	position: fixed;
	width: 100%;
	z-index: 3;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}
.header h5 {
  text-align: center;
  margin-top: 10px;
  padding: 10px 10px 20px 20px;
  list-style: none;
  overflow: hidden;
  background-color: #e6e6ac;
  font-style: normal;
  font-family: ui-sans-serif;
}

.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: #f4f4f4;
}

.header .comapanyName {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
	.header li {
		float: right;
	}
	.header li a {
		padding: 22px 14px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-img-top {
 
  align-items: center;
  margin-top: 10px;
  height: 250px;
  /* object-fit: cover; */
  background-color: rgb(25, 133, 228);
  border-radius: 10px 0 0 10px;
}

/* Overriding global _card.scss styles */
.card img {
  width: auto !important;/* Ensures that the image does not take full width */
}

/* Remove borders from the table */
table {
  width: 100%;
  text-align: left;
}

td {
  padding: 5px;
}

.card-body {
  flex: 1;
  padding: 20px;
}
.container-custom {
  margin-top:200px;
  max-width: 1140px;
  margin: 0 auto;
}

.list {
  text-align: left;
  padding-left: 0;
}
.list li {
  margin-bottom: 10px;
}

.list li strong {
  font-weight: bold;
  margin-right: 5px;
}


/* For small devices (mobile) */
@media (max-width: 576px) {
  .card {
    flex-direction: column;
    text-align: center;
  }
  .card-img-top {
    width: 50%; /* Make image smaller on mobile */
    max-width: 200px; /* Limit image size */
    margin: 0 auto 20px auto; /* Center image on mobile */
  }
}