body {
  background-color: #e0d4e9;
}

h3{
  color: #d21f7d;
}

.container-fluid {
  max-width: 1200px
}

.card-title{
  color: rgb(111, 29, 244);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-img-top {
 
  align-items: center;
  margin-top: 10px;
  height: 250px;
  /* object-fit: cover; */
  background-color: rgb(25, 133, 228);
  border-radius: 10px 0 0 10px;
}


.card img {
  width: auto !important;
}

table {
  width: 100%;
  text-align: left;
}

td {
  padding: 5px;
}

.card-body {
  flex: 1;
  padding: 20px;
}
.container-custom {
  margin-top:200px;
  max-width: 1140px;
  margin: 0 auto;
}

.list {
  text-align: left;
  padding-left: 0;
}
.list li {
  margin-bottom: 10px;
}

.list li strong {
  font-weight: bold;
  margin-right: 5px;
}


/*mobile*/
@media (max-width: 576px) {
  .card {
    flex-direction: column;
    text-align: center;
  }
  .card-img-top {
    width: 50%;
    max-width: 200px; 
    margin: 0 auto 20px auto; 
  }
}