.content-container {
    max-width: 80%;
    /* margin: 0 auto; */
    margin-top: 500px;
  }

.circle {
    height: 25px;
    width: 25px;
    background-color: silver;
    border-radius: 50%;
    display: inline-block;
  }

  .wholeHeight {
    display: flex;
    flex-direction: column;
    
  }

  .specs-table {
    
      margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .specs-table tr {
    margin-bottom: 10px;
  }

  .specs-table tr th {
    font-style:italic ;
    color: darkolivegreen;
  }

  .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(100%);
    }

  h4{
    color:#d21f7d;
    text-decoration: underline;
  }

  h2{
    color: blueviolet 
  }

  h5{
    font-style: italic;
    color: rgb(222, 35, 69);
  }

  .buy-now-btn {
    margin-top: 20px; 
    padding: 10px 20px;
  }